<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="/static/icon/css/materialdesignicons.css" rel="stylesheet" />
    <link href="/static/vuetify/vuetify.css" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <v-app>
        <v-container>
            <v-row>
                <v-col>
                    <v-card>
                        <v-card-title class="">
                            <v-toolbar
                                    :color="theme"
                                    dark
                                    rounded
                            >
                                <v-icon large>mdi-vuetify</v-icon>

                                用户登录
                            </v-toolbar>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" class="text-center">
                                        <v-text-field
                                                v-model="login.account"
                                                :color="theme"
                                                label="用户名"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" class="text-center">
                                        <v-text-field
                                                v-model="login.pwd"
                                                type="password"
                                                :color="theme"
                                                label="密码"
                                                required
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="2" class="text-center">
                                        <v-checkbox v-model="login.remember"
                                                    :color="theme">
                                            <template v-slot:label>
                                                <div>
                                                    记住密码
                                                </div>
                                            </template>
                                        </v-checkbox>
                                    </v-col>
                                    <v-col cols="12" class="text-right">
                                        <v-btn
                                                class="ma-2"
                                                outlined
                                                :color="theme"
                                                @click="forgot"
                                        >
                                            忘记密码？
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-actions>

                            <v-btn block
                                   rounded
                                   dark
                                   :color="theme"
                                   @click="loginAction"
                            >
                                登录
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-app>
</div>
<script src="/static/js/vue.js"></script>
<script src="/static/js/vue-router.js"></script>
<script src="/static/vuetify/vuetify.js"></script>
<script src="/static/axios/axios.js"></script>
<script src="/static/axios/qs.js"></script>
<script src="/static/js/default.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data:{
            theme:'deep-purple accent-4',
            login:{account:'',pwd:'',remember:false},
        },
        mounted(){

        },
        methods:{
            loginAction(){

                axios.post('/ex/login',Qs.stringify(this.login) ).then((res)=>{

                    console.log("res:",res)
                    if (res.data.status==200){
                        sessionStorage.setItem('tokenid',res.data.data.tokenid)
                        location.href = "/index.html"
                    }
                    else
                    {
                        alert('登录失败！')
                    }

                })
            },
            forgot(){

            }

        }
    })
</script>
</body>
</html>
