<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>后台主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="/static/icon/css/materialdesignicons.css" rel="stylesheet" />
    <link href="/static/vuetify/vuetify.css" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none;
        }
        iframe{display: block;}
        .v-tabs-items .v-window__container{position: absolute;width: 100%;height: 100%}
    </style>
</head>
<body>
<div id="app" v-cloak>
    <v-app>
        <v-app-bar app
                   color="deep-purple accent-4"
                   dark
                   flat
                   clipped-left>
            <v-toolbar-title>会员管理系统</v-toolbar-title>
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
            <v-spacer></v-spacer>
            <v-menu offset-y
                    bottom
                    open-on-hover
                    >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                            color="deep-purple accent-4"
                            class="ma-5"
                            dark
                            v-bind="attrs"
                            v-on="on"
                    >
                        <v-icon>mdi-account-circle</v-icon>管理员
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item
                            v-for="(item, index) in profile"
                            :key="index"
                            link
                            @click="profileAction(item.title)"
                    >
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>

        <v-navigation-drawer
                v-model="drawer"
                app
                clipped
        >
            <v-list>
                <v-list-group
                        v-for="(menu,i) in menus"
                        :key="i"
                        link
                        no-action
                        sub-group
                        active-class="deep-purple--text text--accent-4"
                        prepend-icon="mdi-menu-down-outline"
                        @click.prevent="extendMenu(menu)"
                >

                    <template v-slot:activator>
                        <v-list-item-icon>
                            <v-icon v-text="menu.icon" class="mr-4"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>{{menu.menu_name}}</v-list-item-title>
                        </v-list-item-content>

                    </template>
<!--                    <v-list-group-->
<!--                            v-for="(subMenu,i) in menu.subMenus"-->
<!--                            :key="i"-->
<!--                            link-->
<!--                            no-action-->

<!--                    >-->
<!--                        <template v-slot:activator>-->
<!--                            <v-list-item-content>-->
<!--                                <v-list-item-title>{{subMenu.menuName}}</v-list-item-title>-->
<!--                            </v-list-item-content>-->
<!--                        </template>-->

                        <v-list-item
                                v-for="(sub_menu,j) in menu.sub_menus"
                                :key="j"
                                link
                                active-class="deep-purple lighten-5 deep-purple--text text--accent-4"
                                @click="addTab(sub_menu,i,j)"
                                :input-value="sub_menu.active"
                        >
                            <v-list-item-icon>
                                <v-icon v-text="sub_menu.icon"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                            <v-list-item-title>{{sub_menu.menu_name}}</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

<!--                    </v-list-group>-->
                </v-list-group>
            </v-list>
        </v-navigation-drawer>

        <v-main tag="div">
            <v-container
                    class="py-6 px-4 fill-height"
                    fluid

            >
                <v-card min-height="100%" min-width="100%" class="d-flex flex-column">
                            <v-tabs
                                    v-model="curTab"
                                    color="deep-purple accent-4"
                                    class="flex-grow-0"
                            >
                                <v-tab
                                        v-for="(tab,i) in tabs"
                                        :key="i"
                                        class="pr-1"
                                        active-class="deep-purple--text text--accent-4"
                                        @change="setMenuActive(tab.id)"
                                >{{ tab.name }}
                                        <v-icon @click.stop="removeTab(i)" small class="ml-auto" >mdi-window-close</v-icon>
                                </v-tab>
                            </v-tabs>
                            <v-tabs-items v-model="curTab"
                                          style="height:100%"
                                          class="flex-grow-1">
                                <v-tab-item
                                        v-for="(tab,i) in tabs"
                                        :key="i"
                                        style="height:100%"
                                        :transition="false"
                                >
                                    <iframe :src="'/static'+tab.url"
                                            :id="`${i}iframe`"
                                            frameborder="0"
                                            width="100%"
                                            height="100%"
                                    ></iframe>
                                </v-tab-item>
                            </v-tabs-items>
                        </v-card>
            </v-container>
        </v-main>
    </v-app>

</div>
<script src="/static/js/vue.js"></script>
<script src="/static/js/vue-router.js"></script>
<script src="/static/vuetify/vuetify.js"></script>
<script src="/static/axios/axios.js"></script>
</body>

<script>
    //:onload="`const oIframe = document.getElementById('${i}iframe');const deviceHeight = document.documentElement.clientHeight;oIframe.style.height = Number(deviceHeight)-160+'px';`"

    /*axios.interceptors.request.use(function (config) {
        //console.log('config:',config)
        config.headers.common['tokenid']=sessionStorage.getItem('tokenid')
        return config;
    }, function (error) {
        // 对请求错误做些什么
        return Promise.reject(error);
    });*/
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data:{
            profile:[
                {
                title:'个人资料'
                },
                {
                title:'修改密码'
                },
                {
                title:'设置'
                },
                {
                title:'退出'
            }],
            drawer: null,
            menus:[],
            selectedMenu:1,
            preSubMenu:null,
            tabs:[],
            curTab: null,

        },
        created(){
            const token = sessionStorage.getItem('tokenid')
            if (!token){
                location.href = '/static/login.html'
            }
            axios.defaults.headers.common['tokenid'] = token;
        },
        mounted(){
            axios.get('/api/permission/getmenusbyuser')
            .then((res) => {
                this.menus = res.data.data;
                sessionStorage.setItem('menus',JSON.stringify(this.menus))
                //console.log(res.data.data);
            })

          this.tabs.push({
              name:'首页',
              url:'/default',
            })
        },
        methods:{
            profileAction(title){
                switch (title) {
                case '个人资料':
                    this.userExit()
                        break;
                case '修改密码':
                    this.userExit()
                    break;
                case '设置':
                    this.userExit()
                    break;
                case '退出':
                    this.userExit()
                    break;
                default:
                    break;
                }
            },
            userExit(){
                sessionStorage.removeItem('tokenid')
                sessionStorage.removeItem('menus')
                location.href="/static/login.html"
            },
            extendMenu(menu){
                /*for (let i = 0; i < this.menus.length; i++) {
                    if (this.menus[i].menuName==menu.menuName){

                        //Vue.set(this.menus[i], 'active', true)
                        //console.log(this.menus[i].menuName)
                    }else {
                        Vue.set(this.menus[i], 'active', false)
                        console.log(this.menus[i].menuName)
                    }
                }*/
                console.log(menu)
            },
            addTab(subMenu,i,j){
                if (this.preSubMenu!=null)
                {
                    this.preSubMenu.active = false
                }
                Vue.set(this.menus[i].sub_menus[j], 'active', true)
                this.preSubMenu = this.menus[i].sub_menus[j]

                let buildTab = {
                    id:this.menus[i].sub_menus[j].id,
                    tab:this.menus[i].sub_menus[j].menu_name,
                    name:this.menus[i].sub_menus[j].menu_name,
                    url:this.menus[i].sub_menus[j].url,
                }


                let tabCurIdx =this.tabs.findIndex(function(item) {
                    return item.name == buildTab.name;

                });
                if (tabCurIdx>-1)
                {
                    this.curTab = tabCurIdx;
                }
                else {
                    this.tabs.push(buildTab)
                    this.curTab = this.tabs.length-1;
                }
            },
            removeTab(i){
                if (i!=0){

                    let index = 0
                    if (i==this.tabs.length-1){
                        index = i - 1<0?0:i - 1
                    }
                    else {
                        index = this.curTab
                    }
                    this.tabs.splice(i,1)
                    this.setMenuActive(this.tabs[index].id)
                }
            },
            setMenuActive(tabId){
                this.preSubMenu.active =false
                this.findMenuById(tabId,this.menus)
            },
            findMenuById(menuId,menus){
                menus.forEach((menu,i)=>{
                    if (menu.id==menuId){
                        Vue.set(menus[i],'active',true)
                        this.preSubMenu = menus[i]
                    }
                    else {
                        if(menu.sub_menus&&menu.sub_menus.length>0){
                            menu.sub_menus.forEach((sub_menu)=>{
                                this.findMenuById(menuId,menu.sub_menus)
                            })

                        }
                    }
                })
            }
        }
    })
</script>
</html>
