<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="/static/icon/css/materialdesignicons.css" rel="stylesheet" />
    <link href="/static/vuetify/vuetify.css" rel="stylesheet" />
    <style>
        html{overflow: auto;}
         [v-cloak] {
             display: none;
         }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <v-app>
            <v-main class="py-4 px-2">

                <v-card>
                    <v-container fluid >
                    <v-row>
                        <v-col
                            cols="1"
                        >
                            <v-text-field
                                    label="按账号搜索"
                                    color="deep-purple accent-4"
                                    clearable
                                    dense
                                    v-model="search.account"
                            ></v-text-field>
                        </v-col>
                        <v-col
                            cols="1"
                        >
                            <v-text-field
                                    label="按用户名搜索"
                                    color="deep-purple accent-4"
                                    clearable
                                    dense
                                    v-model="search.username"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    </v-container>
                </v-card>
                <br>
                <v-card>
                    <v-container fluid >
                        <v-row no-gutters>
                            <v-col cols="12" class="text-right">
                                <v-btn v-if="btnAdd" color="info" @click="openAdd" >新增</v-btn>
                                <v-btn v-if="btnQuery" color="success" @click="initialize" >查询</v-btn>
                                <v-btn v-if="btnDel" color="error" @click="openBatchDel(null)" >删除</v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
                <br>


                <v-data-table
                        :headers="headers"
                        :items="desserts"
                        :items-per-page="3"
                        :options.sync="options"
                        item-key="id"
                        class="elevation-1"
                        :loading="loading"
                        v-model="selected"
                        :server-items-length="totalDesserts"
                        show-select
                        must-sort
                >
                    <template v-slot:item.roles="{ item }">

                        <v-chip color="deep-purple accent-4"
                                class="ma-1"
                                label
                                outlined
                                small
                                dark
                                v-for="role in item.roles"  :key="role.id"
                        >
                            {{ role.name }}
                        </v-chip>
                    </template>
                    <template v-slot:item.locked="{ item }">
                        <v-chip :color="statusColor(item.locked)"
                                dark
                        >
                            {{ statusText(item.locked) }}
                        </v-chip>
                    </template>


                    <template v-slot:item.actions="{ item ,index}">
                        <v-icon v-if="btnUpdate"
                                small
                                class="mr-2"
                                @click="openEdit(item,index)"
                        >
                            mdi-pencil
                        </v-icon>
                        <v-icon v-if="btnDel"
                                small
                                @click="openBatchDel(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>
                    <template v-slot:no-data>
                        <v-btn
                                color="primary"
                                @click="initialize"
                        >
                            Reset
                        </v-btn>
                    </template>

                </v-data-table>

                <v-dialog
                        v-model="dialogEdit"
                        persistent
                        max-width="600px"
                >

                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-text-field
                                                v-model="editedItem.account"
                                                label="账号"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-text-field
                                                v-model="editedItem.username"
                                                label="用户名"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-checkbox
                                                label="状态"
                                                color="deep-purple accent-4"
                                                v-model="editedItem.locked"
                                                :true-value="1"
                                                :false-value="0"
                                                hide-details
                                        ></v-checkbox>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-text-field
                                                v-model="editedItem.password"
                                                label="密码"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                    >
                                        <v-select
                                                v-model="selectedRoles"
                                                :items="roleList"
                                                label="所属角色"
                                                item-text="name"
                                                item-value="id"
                                                multiple
                                                small-chips
                                                return-object
                                                color="deep-purple accent-4"
                                        ></v-select>
                                    </v-col>
                                    <!--<v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-text-field
                                                v-model="editedItem.recorder"
                                                label="录入人"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-text-field
                                                v-model="editedItem.record_date"
                                                label="录入时间"
                                        ></v-text-field>
                                    </v-col>-->
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="deep-purple accent-4"
                                    dark
                                    @click="save"
                            >
                                保存
                            </v-btn>
                            <v-btn
                                    color="deep-purple accent-4"
                                    text
                                    dark
                                    @click="closeEdit"
                            >
                                取消
                            </v-btn>

                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-dialog v-model="dialogDelete" max-width="500px" hide-overlay >
                    <v-card>
                        <v-card-title class="headline">确认要删除吗?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="deep-purple accent-4" dark @click="del">OK</v-btn>
                            <v-btn color="deep-purple accent-4" text @click="closeDel">Cancel</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                </v-container>

            </v-main>
        </v-app>
    </div>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vue-router.js"></script>
    <script src="/static/vuetify/vuetify.js"></script>
    <script src="/static/axios/axios.js"></script>
    <script>
        //axios.defaults.headers.post['Content-Type'] ='application/x-www-form-urlencoded'


        Vue.directive('focus', {
            // 当被绑定的元素插入到 DOM 中时……
            inserted: function (el,binding) {
                // 聚焦元素
                el.focus()
            }
        })
        new Vue({
            el:'#app',
            vuetify:new Vuetify(),
            data:{
                menuId : 1001,
                elements:[{id:100101,name:'btnAdd'},
                    {id:100102,name:'btnQuery'},
                    {id:100103,name:'btnUpdate'},
                    {id:100104,name:'btnDel'}],
                btnAdd:false,
                btnDel:false,
                btnQuery:false,
                btnUpdate:false,

                loading : false,
                dialogEdit: false,
                dialogDelete : false,
                editedIndex: -1,
                editedItem: {
                    id:0,
                    account: '',
                    username: '',
                    locked: 0,
                    recorder: '',
                    record_date: '',
                },
                emptyItem: {
                    id:0,
                    account: '',
                    username: '',
                    locked: 0,
                    recorder: '',
                    record_date: '',
                },
                selected: [],
                delIds:[],
                search:{},
                headers: [
                    { text: '账号', value: 'account' },
                    { text: '姓名', value: 'username' },
                    { text: '角色', value: 'roles'},
                    { text: '状态', value: 'locked' },
                    { text: '录入人', value: 'recorder' },
                    { text: '录入日期', value: 'record_date' },
                    { text: '操作', value: 'actions', sortable: false },
                ],
                desserts: [],
                totalDesserts:-1,
                options: {
                    sortBy :['account'],
                    sortDesc:[false],
                    page:1,
                    itemsPerPage:3,
                    mustSort: true,
                },
                roleList:[],
                selectedRoles:[]
            },
            created () {
                //this.initialize()
            },
            mounted(){
                let menus = JSON.parse(sessionStorage.getItem('menus'))

                let menu = this.getMenuById(menus)
                //console.log('menu:',menu)
                if (menu && menu.sub_menus){
                    menu.sub_menus.forEach((item)=>{

                        this.elements.forEach((ele)=>{
                            if (item.id==ele.id){
                                this.$data[ele.name]=true
                            }
                        })
                    })
                }
            },

            methods:{
                initialize(){
                    this.loading = true

                    const { sortBy, sortDesc, page, itemsPerPage } = this.options

                    let params ={
                        pageIndex : page,
                        pageSize : 3,//itemsPerPage
                        sortColumn : sortBy[0],
                        sortMethod : sortDesc[0]?'desc':'asc',
                        ...this.search
                    }

                    axios.get('/api/user/?', {
                        params
                    }).then((res) => {
                        this.desserts = res.data.data.rows;
                        this.totalDesserts = res.data.data.total_records
                        //console.log(res.data.data.rows);
                        this.loading = false
                    })
                },
                openAdd(){
                    this.dialogEdit = true
                    this.getRoleList()
                },
                openEdit (item,index) {
                    this.editedIndex = index
                    this.getRoleList()
                    axios.get('/api/user/'+item.id).then((res) => {
                        console.log(res.data)
                        this.editedItem = res.data.data

                        this.selectedRoles = this.editedItem.roles


                    })

                    this.dialogEdit = true
                },
                closeEdit(){
                    this.dialogEdit = false
                    this.editedItem = this.emptyItem
                    this.selectedRoles = []
                    this.editedIndex = -1
                },
                save () {
                    let sysUserRoleList = []
                    const userId = this.editedItem.id
                    this.selectedRoles.forEach(function (item) {

                        sysUserRoleList.push({
                            user_id : userId,
                            role_id : item.id
                        })
                    })

                    /*let formData = new URLSearchParams()

                    for (const [key, value] of Object.entries(this.editedItem)) {
                        formData.append(`sysUser[${key}]`,value)
                    }
                    this.selectedRoles.forEach(function (item,i) {
                        formData.append(`sys_user_role_list[${i}][user_id]`,userId)
                        formData.append(`sys_user_role_list[${i}][role_id]`,item.id)
                    })*/


                    axios.post('/api/user/save',{
                            sys_user:this.editedItem,
                            sys_user_role_list:sysUserRoleList
                        }).then((res) => {
                        if (this.editedIndex>-1){
                            Vue.set(this.desserts,this.editedIndex,this.editedItem)
                        }
                        else{
                            this.desserts.push(this.editedItem)
                        }
                        this.initialize()
                        this.closeEdit()

                    })


                },

                openBatchDel(item){
                    if (item)
                    {
                        this.selected = [item]
                    }
                    this.dialogDelete = true
                },
                del(){
                    console.log(this.selected)
                    let ids = this.selected.map(item=>item.id)
                    console.log(ids)
                    axios.delete('/api/user/'+ids.join(',')).then((res)=>{
                        this.selected.forEach((item) => {
                            this.desserts.splice(this.desserts.indexOf(item),1)
                        })
                        this.selected=[]
                        this.dialogDelete=false
                    })
                },
                closeDel(){
                    this.dialogDelete=false
                },
                getRoleList(){
                   axios.get('/api/role',{
                       params: {
                           index:1,
                           size:999,
                           asc:'name'
                       }
                   }).then((res)=>{
                       this.roleList = res.data.data.rows;
                   })
                },
                getMenuById(menus){
                    let curMenu={}
                    if (menus){
                        for (let i = 0; i < menus.length; i++) {
                            if (menus[i].id==this.menuId){
                                curMenu = menus[i]
                            }
                            else {
                                if (menus[i].sub_menus)
                                    curMenu =  this.getMenuById(menus[i].sub_menus)
                            }
                            if (curMenu){
                                return curMenu
                            }
                        }
                    }


                },
                statusText(status){
                    return status==0?'未锁定':'锁定'
                },
                statusColor(status) {
                    return  status==0?'success':'error'
                }
            },
            computed:{
                formTitle () {
                    return this.editedIndex === -1 ? '新增用户' : '修改用户'
                },
            },
            watch: {
                // 如果 `question` 发生改变，这个函数就会运行
                question: function (newQuestion, oldQuestion) {

                },
                options: {
                    handler (val, oldVal) {
                        //console.log(val,oldVal)
                        this.initialize()
                    },
                    deep: true,
                },
            },
        })
    </script>
</body>
</html>
