<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="/static/icon/css/materialdesignicons.css" rel="stylesheet" />
    <link href="/static/vuetify/vuetify.css" rel="stylesheet" />
    <style>
        html{overflow: auto;}
    </style>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main class="py-4 px-2">

                <v-card>
                    <v-container fluid >
                    <v-row no-gutters>
                        <v-col
                                cols="1"
                        >
                            <v-text-field
                                    label="搜索"
                                    clearable
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    </v-container>
                </v-card>
                <br>
                <v-card>
                    <v-container fluid >
                        <v-row no-gutters>
                            <v-col cols="12" class="text-right">
                                <v-dialog
                                        v-model="dialog"
                                        persistent
                                        max-width="600px"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                                color="primary"
                                                dark
                                                v-bind="attrs"
                                                v-on="on"
                                        >
                                            新增
                                        </v-btn>
                                    </template>
                                    <v-card>
                                        <v-card-title>
                                            <span class="headline">{{ formTitle }}</span>
                                        </v-card-title>

                                        <v-card-text>
                                            <v-container>
                                                <v-row>
                                                    <v-col
                                                            cols="12"
                                                            sm="6"
                                                            md="4"
                                                    >
                                                        <v-text-field
                                                                v-model="editedItem.account"
                                                                label="账号"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col
                                                            cols="12"
                                                            sm="6"
                                                            md="4"
                                                    >
                                                        <v-text-field
                                                                v-model="editedItem.username"
                                                                label="用户名"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col
                                                            cols="12"
                                                            sm="6"
                                                            md="4"
                                                    >
                                                        <v-text-field
                                                                v-model="editedItem.locked"
                                                                label="状态"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col
                                                            cols="12"
                                                            sm="6"
                                                            md="4"
                                                    >
                                                        <v-text-field
                                                                v-model="editedItem.recorder"
                                                                label="录入人"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col
                                                            cols="12"
                                                            sm="6"
                                                            md="4"
                                                    >
                                                        <v-text-field
                                                                v-model="editedItem.recordDate"
                                                                label="录入时间"
                                                        ></v-text-field>
                                                    </v-col>
                                                </v-row>
                                            </v-container>
                                        </v-card-text>

                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="close"
                                            >
                                                Cancel
                                            </v-btn>
                                            <v-btn
                                                    color="blue darken-1"
                                                    text
                                                    @click="save"
                                            >
                                                Save
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>
                                <v-btn color="success"
                                >
                                    查询
                                </v-btn>
                                <v-btn color="error"
                                >
                                    删除
                                </v-btn>
                                <v-btn depressed
                                       color="secondary"
                                >
                                    分配角色
                                </v-btn>
                            </v-col>

                        </v-row>
                    </v-container>
                </v-card>
                <br>


                <v-data-table
                        :headers="headers"
                        :items="desserts"
                        :items-per-page="3"
                        :options.sync="options"
                        v-on:update:options="options1"
                        item-key="id"
                        class="elevation-1"
                        :loading="loading"
                        v-model="selected"
                        :server-items-length="totalDesserts"
                        show-select
                        must-sort
                >
                    <template v-slot:item.actions="{ item }">
                        <v-icon
                                small
                                class="mr-2"
                                @click="editItem(item)"
                        >
                            mdi-pencil
                        </v-icon>
                        <v-icon
                                small
                                @click="deleteItem(item)"
                        >
                            mdi-delete
                        </v-icon>
                    </template>
                    <template v-slot:no-data>
                        <v-btn
                                color="primary"
                                @click="initialize"
                        >
                            Reset
                        </v-btn>
                    </template>

                </v-data-table>

                <v-dialog v-model="dialogDelete" max-width="500px" hide-overlay >
                    <v-card>
                        <v-card-title class="headline">确认要删除吗?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                </v-container>

            </v-main>
        </v-app>
    </div>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vue-router.js"></script>
    <script src="/static/vuetify/vuetify.js"></script>
    <script src="/static/axios/axios.js"></script>
    <script>
        Vue.directive('focus', {
            // 当被绑定的元素插入到 DOM 中时……
            inserted: function (el,binding) {
                // 聚焦元素
                el.focus()
            }
        })
        new Vue({
            el:'#app',
            vuetify:new Vuetify(),
            data:{
                loading : false,
                dialog: false,
                dialogDelete : false,
                editedIndex: -1,
                editedItem: {
                    id:0,
                    account: '',
                    username: '',
                    locked: 0,
                    recorder: '',
                    recordDate: '',
                },
                emptyItem: {
                    id:0,
                    account: '',
                    username: '',
                    locked: 0,
                    recorder: '',
                    recordDate: '',
                },
                selected: [],
                headers: [
                    {
                        text: '账号',
                        value: 'account',
                    },
                    { text: '姓名', value: 'username' },
                    { text: '状态', value: 'locked' },
                    { text: '录入人', value: 'recorder' },
                    { text: '录入日期', value: 'recordDate' },
                    { text: '操作', value: 'actions', sortable: false },
                ],
                desserts: [],
                totalDesserts:-1,
                options: {
                    sortBy :['account'],
                    sortDesc:[false],
                    page:1,
                    itemsPerPage:3,
                    multiSort: false,
                    mustSort: true,
                    groupBy: [],
                    groupDesc:[],
                },
            },
            created () {
                //this.initialize()
            },
            mounted(){

            },
            methods:{
                options1(options){
                    console.log(options)
                },
                initialize(){
                    this.loading = true

                    const { sortBy, sortDesc, page, itemsPerPage } = this.options

                    let params ={
                        index : page,
                    }
                    params[sortDesc[0]?'desc':'asc'] = sortBy[0]
                    axios.get('/api/user?', {
                        params
                    }).then((res) => {
                        this.desserts = res.data.data.rows;
                        this.totalDesserts = res.data.data.totalRecords
                        console.log(res.data.data.rows);
                        this.loading = false
                    })
                },
                editItem (item) {
                    this.editedIndex = this.desserts.indexOf(item)
                    this.editedItem = Object.assign({}, item)
                    this.dialog = true
                },

                deleteItem (item) {
                    this.editedIndex = this.desserts.indexOf(item)
                    this.editedItem = Object.assign({}, item)
                    this.dialogDelete = true
                },

                deleteItemConfirm () {
                    this.desserts.splice(this.editedIndex, 1)
                    this.closeDelete()
                },

                close () {
                    this.dialog = false
                    this.$nextTick(() => {
                        this.editedItem = Object.assign({}, this.defaultItem)
                        this.editedIndex = -1
                    })
                },

                closeDelete () {
                    this.dialogDelete = false
                    this.$nextTick(() => {
                        this.editedItem = Object.assign({}, this.defaultItem)
                        this.editedIndex = -1
                    })
                },

                save () {
                    if (this.editedIndex > -1) {
                        Object.assign(this.desserts[this.editedIndex], this.editedItem)
                    } else {
                        this.desserts.push(this.editedItem)
                    }
                    this.close()
                },
            },
            computed:{
                formTitle () {
                    return this.editedIndex === -1 ? '新增' : '修改'
                },
            },
            watch: {
                // 如果 `question` 发生改变，这个函数就会运行
                question: function (newQuestion, oldQuestion) {

                },
                dialog (val) {
                    val || this.close()
                },
                dialogDelete (val) {
                    val || this.closeDelete()
                },
                // options: {
                //     handler (val, oldVal) {
                //         console.log(val,oldVal)
                //         this.initialize()
                //     },
                //     deep: true,
                // },
            },
        })
    </script>
</body>
</html>
